GAME_FOLDER=/path/to/game/folder
MOD_LIST_FILE=${GAME_FOLDER}/path/to/mods/folder/mod-list.json

# or you can use absolute path if mods folder is not in game folder like
MOD_LIST_FILE=/path/to/mods/folder/mod-list.json

# or absolute path too
PROFILES_DIR=${PWD}/profiles

LOG_LEVEL=WARNING
# CRITICAL
# FATAL
# ERROR
# WARNING
# WARN
# INFO
# DEBUG
# NOTSET
